<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form *ngIf="!isLoading">
    <mat-form-field>
        <input matInput
         placeholder="E-Mail"
         type="email"
         >
        <mat-error *ngIf="">Please enter a valid email</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input type="password"
         matInput
         placeholder="Password"
         formControlName="content">
        <mat-error *ngIf="">Please enter a valid password</mat-error>
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary">Login</button>
  </form>

</mat-card>

